<div class="create-main">
  <canvas id="canvas" width="500" height="500"></canvas>
  <div class="create-right">
    <div class="assets">
      <h2>assets</h2>
      <div class="thumbs">
        add thumbs of assets
      </div>
    </div>
    <div class="tools">
      <div class="thumbs">
        <h2>tools</h2>
        <div class="tool-icons">
          <button type="button" name="move"></button>
          <button type="button" name="rotate"></button>
          <button type="button" name="resize"></button>
          <button type="button" name="forward"></button>
          <button type="button" name="back"></button>
          <button type="button" name="bgcol"></button>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="javascripts/sketch.js"></script>
