
<div class="create-main">
  <form action="/home" method="get">
    <button class="exit" id="create-exit">&#10005;</button>
  </form>



  
  <div class="canvas-default" id="container"></div>






    <div class="tools">
      <div class="thumbs">
        <h2>tools</h2>
        <div class="tools">
          <button id="move-up">move up</button>
          <button id="move-down">move down</button>
          <button id="send-to-back">send to back</button>
          <button id="send-to-front">send to front</button>
          <button id="rotate">rotate</button>
          <button id="bgcol">background color</button>
        </div>
      </div>
    </div>
  </div>
</div>







  <script src="/javascripts/create.js"></script>
