
<h2>selects</h2>
<div class="main">
  <div class="feature_post">
    <img class="img_feature" src="images/collage_3.png" alt="">
    <h3>Name of Artist</h3>
  </div>
  <div class="feature_post">
    <img class="img_feature" src="images/collage_3.png" alt="">
    <h3>Name of Artist</h3>
  </div>
  <div class="feature_post">
    <img class="img_feature" src="images/collage_3.png" alt="">
    <h3>Name of Artist</h3>
  </div>
</div>
