<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Collageo</title>
  <link rel='stylesheet' href='/stylesheets/main.css'>
  <link href="https://fonts.googleapis.com/css?family=Archivo+Black|Tenor+Sans" rel="stylesheet">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.6.0/p5.js"></script>
  <script src="https://cdn.rawgit.com/konvajs/konva/2.0.2/konva.min.js"></script>
</head>
<body style="
  background-color: <%= @bgcolor if @bgcolor %>;
  color: <%= @color if @color %>">
  <header>
    <a href="/">Collageo</a>
    <button class="move-up">move up</button>
    <button class="move-down">move down</button>
    <button class="send-to-back">send to back</button>
    <button class="send-to-front">send to front</button>
    <button class="done">done</button>
    <button class="rotate">rotate</button>
    <div class="login">
      <% if !logged_in? %>
      <a href="/login">login</a>
      <%end%>
      <% if logged_in? %>
      <p>User: <%= current_user.name%></p>
      <form class="" action="/session" method="post">
        <input type="hidden" name="_method" value="delete">
        <button>logout</button>
      </form>
      <%end%>
    </div> <!-- login end -->
  </header>


  <%= yield %>

</body>
</html>
