<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Collageo</title>
  <link rel='stylesheet' href='/stylesheets/main.css'>
  <link href="https://fonts.googleapis.com/css?family=Archivo+Black|Tenor+Sans" rel="stylesheet">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.6.0/p5.js"></script>
  <script src="https://cdn.rawgit.com/konvajs/konva/2.0.2/konva.min.js"></script>
</head>
<body style="
  background-color: <%= @bgcolor if @bgcolor %>;
  color: <%= @color if @color %>">
  <header>
    <a class="title" href="/">Collageo</a>
    <div class="login">
      <% if !logged_in? %>
      <a class="top-right-btn" href="/login">login</a>
      <%end%>
      <% if logged_in? %>
      <form class="" action="/session" method="post">
        <input type="hidden" name="_method" value="delete">
        <button class="top-right-btn">logout</button>
      </form>
      <%end%>
    </div> <!-- login end -->
  </header>


  <%= yield %>
  <footer>
    <% if logged_in? %>
    <h1> <%= @username%></h1>
    <%end%>
  </footer>
</body>
</html>
