
<!-- <h2>login</h2> -->
<div class="log-main">
  <form action="/session" method="post">
    <div class="log-box">
      <label for="email">email</label>
      <input type="text" name="email">
    </div>
    <div class="log-box">
      <label for="password">password</label>
      <input type="password" name="password">
    </div>
    <button>enter</button>
  </form>

  <h2><%=@error%></h2>
</div>
