
<!-- <h2>login</h2> -->
<div class="log-main">
  <form action="/session" method="post">
    <div class="log-box">
      <label for="email">email</label>
      <input type="text" name="email">
    </div>
    <div class="log-box">
      <label for="password">password</label>
      <input type="password" name="password">
    </div>
    <button class="bottom-right-btn">enter</button>
  </form>
  <h2><%=@error%></h2>
  <a class="bottom-left-btn"href="/login/new">new</a>
</div>

<script type="text/javascript" src="javascripts/application.js">

</script>
