<div class="new-main">
  <form action="/new_user" method="post">
    <div class="new-box">
      <label for="username">username</label>
      <input type="text" name="username">
    </div>
    <div class="new-box">
      <label for="email">email</label>
      <input type="text" name="email">
    </div>
    <div class="new-box">
      <label for="password">password</label>
      <input type="password" name="password">
    </div>
    <button>enter</button>
  </form>
</div>
