<h2>Select your assets</h2>
<a class="top-right-btn" href="/create">create</a>


<div class="assets-div">
  <form class="" action="/create/delete" method="post">
    <input type="hidden" name="_method" value="delete">

    <% @assets.each do |asset| %>
      <div class="imgbox">
        <img class="asset" src="<%= asset.image.url %>" alt="" value="<%= asset.id %>">
        <input class="imagecheck" type="checkbox" name="id" value="<%= asset.id %>">
      </div>
    <% end %>

    <button class="bottom-right-btn">delete</button>
  </form>
  <button id="upload-btn"> + </button>
</div>



<!-- UPLOADING NEW IMAGES -->
<div class="upload-div">
  <button class="exit" id="upload-exit">&#10005;</button>
 <form  action="/create/upload" method="post" enctype="multipart/form-data">
   <label class="choose-image">
     <input id="file-upload" type="file" name="image"/>
     select
   </label>
   <input id="uploadFile" placeholder="no image selected" disabled="disabled"/>
   <button class="upload">upload</button>
 </form>
</div>



<script type="text/javascript" src="/javascripts/select.js">
</script>
