* {
  box-sizing: border-box;
  font-family: 'Archivo Black', sans-serif;
}

body {
  margin:0;
  height: 100%;
  overflow: hidden;
}
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-content: center;
  padding: 5%;
}
/* User Title Only */
.username {
  font-size: 4vmin;
  font-family: 'Tenor Sans', sans-serif;
  float: right;
  position: absolute;
  bottom: 5%;
  right: 5%;
  margin:0;
  padding:0;
  font-style: normal;
  text-transform:capitalize;
}
a {
  font-size: 8vmin;
  font-style: italic;
  text-decoration: none;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
  color:inherit;
}
.title {
  position: absolute;
  top: 5%;
  left:5%;
}
a:hover, button:hover {
  text-decoration: underline overline;
  font-style: normal;
}
h2 {
  font-family: 'Tenor Sans', sans-serif;
  font-style: italic;
  font-size: 6vmin;
  margin: 0;
  padding: 0 5%;
}
p {
  font-family: 'Tenor Sans', sans-serif;
  font-size: 6vmin;
  padding: 0;
  margin: 0;
}

/* INDEX */
h3 {
  font-family: 'Tenor Sans', sans-serif;
  font-size: 3vmin;
}

.main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width:100vw;
  padding: 0 5%;
}
.feature_post {
  width: 30%;
  margin-top: 20px;
}
.feature_post img {
  width: 100%;
  box-shadow: -10px 10px 5px lightgrey;
}

/* LOGIN */
.log-main {
  margin: 0 5%;
  display: flex;
  flex-direction: column;
}
.log-box {
  display: flex;
  flex-direction: column;
}
label {
  font-size: 6vmin;
  font-family: 'Tenor Sans', sans-serif;
  margin: 1% 0;
  display: block;
}
input {
  font-size: 6vmin;
  font-family: 'Tenor Sans', sans-serif;
  display: block;
  background-color: rgba(0,0,0,0);
  border: 2px solid white;
}

button {
  background-color: rgba(0,0,0,0);
  border: none;
  font-size: 8vmin;
  font-style: italic;
  color:inherit;
  text-transform: uppercase;
}

button:focus {
  outline:0;
}
.top-right-btn {
  position:absolute;
  top: 5%;
  right: 5%;
  cursor: pointer;
}
.bottom-left-btn {
  position: absolute;
  bottom: 5%;
  left: 5%;
  cursor: pointer;
}
.bottom-right-btn {
  position: absolute;
  bottom: 5%;
  right: 5%;
  cursor: pointer;
}

/* NEW USER */
.new-main {
  margin: 0 5%;
}
.new-box {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

/* SELECT ASSETS */
input[type="file"] {
  display: none;
}
.choose-image {
  font-size: 8vmin;
  cursor: pointer;
  font-family: 'Archivo Black', sans-serif;
  text-transform: uppercase;
  font-style: italic;
  color:white;
  margin:auto;
  padding-top: 18%;
}
.choose-image:hover {
  font-style:normal;
  text-decoration: underline overline;
}
.upload {
  cursor: pointer;
  font-size: 8vmin;
  color: white;
  margin:auto;
}
@keyframes popup {
  0% {height:0%;}
  100% {height:100%;}
}
.upload-div {
  position: absolute;
  bottom: 0;
  background-color: rgba(255, 0, 123,0.7);
  height: 0%;
  width: 100%;
  text-align:center;
}
.upload-animate {
  animation-name: popup;
  animation-duration: 0.5s;
  height:100%;
}

#uploadFile {
  border: none;
  color: white;
  font-size: 6vmin;
  padding: 5% 0;
  text-align: center;
  width:100%;
  /* padding-left: 5%; */

}
::placeholder {
  color: white;
  font-size: 6vmin;
  text-align: center;
}
.asset {
  width: 20vmin;
  height: 20vmin;
  object-fit: cover;
  position: absolute;
  top:0;
  left:0;
}
.selected {
  border: 2px solid white;
  opacity: 0.7;
}
.assets-div {
  margin: 2% 5%;
  display: flex;
}
.imgbox {
  /* margin: 2% 5%; */
  width:20vmin;
  height:20vmin;
  position: relative;
  display: inline-block;
  margin-right: 3vmin;
}

.imagecheck {
  /* width:19vmin;
  height:19vmin;
  background: black;
  cursor: pointer;
  background-color: none;
  position: absolute;
  top:0;
  left:0; */
  display: none;
}


/* CREATE */

#container {
  display: inline-block;
  position:absolute;
  left: 5%;
  bottom:5%;
}
.canvas-default {
  background-color: white;
}

.create-main h2 {
  padding:0;
}

.thumbs button {
  width: 100px;
  height: 40px;
  margin: 10px 10px;
  transform: translateX(-10px);
  border:none;
}
.thumbs botton:hover {
  background-color: #e8e8e8;
}

.tools {
  display: flex;
  flex-wrap: wrap;
  right: 5%;
  position: absolute;
}
.tools button {
  font-size: 2vmin;
  font-family: 'Tenor Sans', sans-serif;
  font-style: normal;
  text-transform: lowercase;
}


.bg-black {
  background-color: black;
}
.bg-white {
  background-color: white;
}
.bg-red {
  background-color: red;
}
.bg-yellow {
  background-color: yellow;
}
.bg-green {
  background-color: green;
}
.bg-blue {
  background-color: blue;
}
