* {
  box-sizing: border-box;
  font-family: 'Archivo Black', sans-serif;
}

body {
  margin: 0;
  height: 100%;
  overflow: hidden;
  padding: 0;
}

.about {
  height: 100%;
  width: 100%;
  background-color: rgba(244, 66, 223, 0.8);
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  color: blue;
  padding: 5%;
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

.about p {
  width: 80%;
  padding-top: 10%;
}

@keyframes sideIn {
  0% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.about-animate {
  animation-name: sideIn;
  animation-duration: 0.8s;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

canvas[resize] {
  width: 100vw;
  height: 100vh;
  z-index: -1;
  margin: 0;
  padding: 0;
  position: absolute;
}

.username {
  font-size: 4vmin;
  font-family: 'Tenor Sans', sans-serif;
  float: right;
  position: absolute;
  bottom: 5%;
  right: 5%;
  margin: 0;
  padding: 0;
  font-style: normal;
  text-transform: capitalize;
}

a {
  font-size: 8vmin;
  font-style: italic;
  text-decoration: none;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
  color: inherit;
}

.title {
  position: absolute;
  top: 5%;
  left: 5%;
}

a:hover, button:hover {
  text-decoration: underline overline;
  font-style: normal;
}

h2 {
  font-family: 'Tenor Sans', sans-serif;
  font-style: italic;
  font-size: 6vmin;
  margin: 0;
  padding: 0;
}

p {
  font-family: 'Tenor Sans', sans-serif;
  font-size: 6vmin;
  padding: 0;
  margin: 0;
}

/* INDEX */

h3 {
  font-family: 'Tenor Sans', sans-serif;
  font-size: 3vmin;
}

/* LOGIN */

.log-main {
  margin: 10% 5% 5% 5%;
  display: flex;
  flex-direction: column;
}

.log-box {
  display: flex;
  flex-direction: column;
}

label {
  font-size: 6vmin;
  font-family: 'Tenor Sans', sans-serif;
  margin: 1% 0;
  display: block;
}

input {
  font-size: 6vmin;
  font-family: 'Tenor Sans', sans-serif;
  display: block;
  background-color: rgba(0, 0, 0, 0);
  border: 2px solid white;
  color: yellow;
}

button {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  font-size: 8vmin;
  font-style: italic;
  color: inherit;
  text-transform: uppercase;
}

button:focus {
  outline: 0;
}
.top-right-btn, .bottom-left-btn,.bottom-right-btn, .title {
  margin: 0;
  padding: 0;
}
.top-right-btn {
  position: absolute;
  top: 5%;
  right: 5%;
  cursor: pointer;

}

.bottom-left-btn {
  position: absolute;
  bottom: 5%;
  left: 5%;
  cursor: pointer;
}

.bottom-right-btn {
  position: absolute;
  bottom: 5%;
  right: 5%;
  cursor: pointer;
}

/* NEW USER */

.new-main {
  margin: 10% 5% 5% 5%;
}

.new-box {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

h6 {
  font-family: 'Tenor Sans', sans-serif;
  font-size: 2vmin;
  height: 2vmin;
  overflow: hidden;
  font-style: italic;
  opacity: 0.5;
  margin: 0;
  padding: 0;
  word-wrap: break-word;
  text-justify: inter-word;
}

.user-left {
  position: absolute;
  transform: rotate(-90deg);
  transform-origin: bottom left;
  bottom: 0;
  left: 2vw;
  width: 400%;
}

.user-right {
  position: absolute;
  transform: rotate(90deg);
  transform-origin: bottom right;
  bottom: -400px;
  right: 2vw;
  width: 400%;
}

/* SELECT ASSETS */

input[type="file"] {
  display: none;
}

.choose-image {
  font-size: 8vmin;
  cursor: pointer;
  font-family: 'Archivo Black', sans-serif;
  text-transform: uppercase;
  font-style: italic;
  color: #E70200;
  margin: auto;
  padding-top: 18%;
}

.choose-image:hover {
  font-style: normal;
  text-decoration: underline overline;
}

.upload {
  cursor: pointer;
  font-size: 8vmin;
  color: #E70200;
  margin: auto;
}

@keyframes popup {
  0% {
    height: 0%;
  }
  100% {
    height: 100%;
  }
}

.upload-div {
  position: absolute;
  bottom: 0;
  /* margin-right:5%; */
  background-color: rgba(255, 255, 0, 0.9);
  height: 0%;
  width: 100%;
  text-align: center;
}

.upload-animate {
  animation-name: popup;
  animation-duration: 0.5s;
  height: 100%;
}

#uploadFile {
  border: none;
  font-size: 6vmin;
  padding: 5% 0;
  text-align: center;
  width: 100%;
  color: #E70200;
}

::placeholder {
  font-size: 6vmin;
  text-align: center;
  color: #E70200;
}

#upload-btn {
  color: white;
  background-color: rgba(255, 255, 255, 0.5);
  width: 10vmin;
  height: 10vmin;
  font-style: normal;
  font-size: 5vmin;
}

#upload-btn:hover {
  text-decoration: none;
  cursor: pointer;
  font-size: 6vmin;
}

.exit {
  font-style: normal;
  position: absolute;
  top: 5%;
  right: 5%;
  cursor: pointer;
}

.exit:hover {
  text-decoration: none;
}

#upload-exit {
  color: #E70200;
}

/* SELECT/MANAGE ASSETS */

.manage-assets {
  width: 90%;
  height: 80vh;
  /* border: 2px solid red; */
  margin: 10% 5% 5% 5%;
}

.manage-assets h2 {
  margin-bottom: 3vh;
}

.tiles {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 90%;
}

.asset-group {
  display: inline-block;
}

.asset-group img {
  width: 20vmin;
  height: 20vmin;
  margin: 0 1vw 1vw 0;
  cursor: pointer;
  object-fit: cover;
}

#upload-btn-lrg {
  color: white;
  background-color: rgba(255, 255, 255, 0.5);
  width: 20vmin;
  height: 20vmin;
  font-style: normal;
  font-size: 8vmin;
}

#upload-btn-lrg:hover {
  text-decoration: none;
  cursor: pointer;
  font-size: 10vmin;
}

/* CREATE */

.create-main {
  display: flex;
  /* border: 2px solid green; */
  margin: 10% 5% 5% 5%;
}

#container {
  display: inline-block;
}

.canvas-default {
  background-color: white;
}

.assets-div {
  width: 40vw;
  margin: 0 2vw;
  position: relative;
  /* border: 2px solid yellow; */
}

.assets-blocks {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  /* border: 2px solid black; */
}

.asset-thumb {
  width: 10vmin;
  height: 10vmin;
  margin: 0 1vw 1vw 0;
  object-fit: cover;
  cursor: pointer;
}

.selected {
  border: 4px solid white;
  opacity: 0.8;
}

.delete {
  position: absolute;
  bottom: 0;
}

.image-check {
  display: none;
}

.tips {
  font-size: 2vmin;
}

.tips-div {
  position: absolute;
  bottom: 0;
}

.tool-thumbs button {
  width: 100%;
  height: 40px;
  border: none;
}

.tool-thumbs button:hover {
  /* background-color: rgba(255,255,255,0.5); */
  text-decoration: underline;
}

.tools-div {
  display: block;
  width: 15vw;
  /* border: 2px solid black; */
  position: relative;
}

.tool-thumbs button, #save {
  font-size: 2vmin;
  font-family: 'Tenor Sans', sans-serif;
  font-style: normal;
  text-transform: lowercase;
  text-align: right;
  padding: 0;
}

.tools-div h2 {
  text-align: right;
}

.tips span {
  font-weight: bold;
  font-style: italic;
}

#save {
  position: absolute;
  bottom: 0;
  right: 0;
}

#delete {
  margin-bottom: 20%;
}


/* canvas background */

.bg-black {
  background-color: black;
}

.bg-white {
  background-color: white;
}

.bg-red {
  background-color: red;
}

.bg-yellow {
  background-color: yellow;
}

.bg-green {
  background-color: green;
}

.bg-blue {
  background-color: blue;
}
